---
import { Image } from "astro:assets";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import SecondaryCTA from "@components/ui/buttons/SecondaryCTA.astro";
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';

// Importa las imágenes
import image1 from '../../../images/generador.jpg';
import image3 from '../../../images/construction-workers.avif';
import image2 from '../../../images/using-tools.avif';

const {
  title,
  subTitle,
  primaryBtn,
  primaryBtnURL,
  secondaryBtn,
  secondaryBtnURL,
  src,
  alt,
  images = [
    { src: image1, alt: 'Image 1' },
    { src: image2, alt: 'Image 2' },
    { src: image3, alt: 'Image 3' },
  ]
} = Astro.props;

interface Props {
  title: string;
  subTitle?: string;
  primaryBtn?: string;
  primaryBtnURL?: string;
  secondaryBtn?: string;
  secondaryBtnURL?: string;
  reviews?: string;
  src?: any;
  alt?: string;
  images?: Array<{ src: string; alt: string }>;
}

---

<section class="relative mx-auto grid max-w-[85rem] gap-4 px-4 py-14 sm:px-6 md:grid-cols-2 md:items-center md:gap-8 lg:px-8 2xl:max-w-full">

  <div class="absolute inset-0 z-0 h-52">
    <!-- Slider main container -->
    <div class="swiper mySwiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {images?.map((image) => (
          <div class="swiper-slide" data-swiper-autoplay="2000" >
            <Image src={image.src} alt={image.alt} class="h-full w-full object-cover object-center" draggable="false" loading="eager" />
          </div>
        ))}
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>

  <!-- Title and description -->
  <div class="relative z-10">
    <h1 class="block text-balance text-3xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 sm:text-4xl lg:text-6xl lg:leading-tight">
      <Fragment set:html={title} />
    </h1>
    {subTitle && 
    <p class="mt-3 text-pretty text-lg leading-relaxed text-neutral-700 dark:text-neutral-400 lg:w-4/5">
      {subTitle}
    </p>
    }
    <div class="mt-7 grid w-full gap-3 sm:inline-flex">
      {primaryBtn && 
      <PrimaryCTA title={primaryBtn} url={primaryBtnURL} />
      }
      {secondaryBtn && 
      <SecondaryCTA title={secondaryBtn} url={secondaryBtnURL} />
      }
    </div>
  </div>
  <div class="flex w-full  z-10">
    <div class="top-12 overflow-hidden">
      {src && alt &&
      <Image
            src={src}
            alt={alt}
            class="h-full w-full object-cover object-center"
            draggable={"false"}
            loading={"eager"}
            format={"avif"}
      />
      }
  </div>
</div>
</section>


<script>
  import Swiper from 'swiper';
  import { Navigation, Pagination } from 'swiper/modules';
  
  Swiper.use([Navigation, Pagination]);
  const swiper = new Swiper('.mySwiper', {
    loop: true,
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });

</script>

<style> 
.swiper {
  width: auto;
  height: 550px;
  border-radius: 10px;
  opacity: 0.3;
  margin-top: 16px;
}

</style>
